*{margin: 0;}
body{
  /* background-image:linear-gradient(#87CEEB 30%, rgb(93, 93, 211)) ; */
  background-image:linear-gradient(to top , green 0 20% ,rgb(93, 93, 211)20% ,#87CEEB 60% 80% ) ;
  height: 100vh;
}
.up{
position: absolute;
width: 400Px;
height: 30px;
left: 36.75%;
border: 2px solid black;
transform: skewX(-40deg);
background: rgb(103, 24, 24);
}
.side{
   position: absolute;
   top:-14.9px;
   left: 100%;
   width: 30px;
   height: 595px;
   border: 2px solid black;
   transform: skewY(-50deg);
   background: rgb(103, 24, 24);

}

.all{
   position: relative;
   left: 50%;
   top: 30px;
   transform: translate(-50% );
   width: 400px;
   height: 600px;
   /* border: 2px solid black; */
}
.floors{
   position: absolute;
   border: 2px solid black;
   border-bottom:none ;
   height: 70%;
   width: 100%;
}
.doors{
   position: absolute;
   bottom: 0;
   border: 2px solid black;
   
   height: 29%;
   width: 100%;
   background-color: brown;

}
.door{
   position: absolute;
   background-color: tomato;
   height: 70%;
   width: 20%;
   border: 3px solid black;
   border-bottom: 0;
   bottom: 0;
   right: 8%;

}
.floor,.floor1,.floor2,.floor3{
   position: relative;
   width: 100%;
   height: 25%;
   border: 2px solid black;
   border-left:none ;
   border-right:none ;
   border-top:none ;
   display: flex;
   /* margin-bottom: 10px;
   margin-top:15px ; */
}
.floor,.floor2{
   background-color: brown;
}
.floor1,.floor3{
   background-color: rgb(118, 46, 46);
}
.window{
   position: relative;
   top:10px;
   width: 20%;
   height: 80%;
   border: 1px solid black;
   margin-left:15px ;
    background: blue;
}
.window.active{
 width: 90vw;
   height: 90vh;  
   position: fixed; 
   top: 1vh;
   left: -110%;
   z-index: 1;
}
/* .window.mask::before{
   position: absolute;
   content: "";
   top: 0;
   width: 100%;
   height: 100%;
   background-color: aqua;
   z-index: 2;
} */
.mask{
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #008CBA;
   overflow: hidden;
   width: 100%;
   height: 100%;
   transition: .5s ease;
  
}
.window.open .mask{
   bottom: 100%;
   height: 0;

}
 .window.active{
   transform: scale(1);
   
   width: 100vw;
   height: 100vh;  
   position: fixed; 
   top: -5vh;
   left: -110%;
   z-index: 1;
   
  
}